.header-menu-link p,.header-menu-popup-link,.header-menu-popup .close-header-menu-popup,.header-right_menu .login-button p,.header-right_menu .ui.dropdown .text,a.button,button.button,div.button,.contacts .right-text ul li a{-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
*,*:before,*:after{padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;position:relative}
img{height:auto;max-width:100%}a,a:link,a:visited,a:hover,a:active,a:focus{text-decoration:none;outline:0;white-space:nowrap}
input{outline:0;font-family:inherit;border:0}button{border:0;outline:0;background:transparent}
a,button,label,input[type="radio"],input[type="checkbox"]{cursor:pointer}
ul li{list-style:none}html,body{scroll-behavior:smooth}@font-face{font-family:lato-bold;src:url("../fonts/lato/lato-bold.woff") format("woff"),url("../fonts/lato/lato-bold.woff2") format("woff2");font-style:normal;font-weight:normal}
@font-face{font-family:lato-regular;src:url("../fonts/lato/lato-regular.woff") format("woff"),url("../fonts/lato/lato-regular.woff2") format("woff2");font-style:normal;font-weight:normal}
.header-menu-link p,.header-menu-popup-link,.header-menu-popup .close-header-menu-popup,.header-right_menu .login-button p,.header-right_menu .ui.dropdown .text,a.button,button.button,div.button,.contacts .right-text ul li a{-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.header{padding:15px 35px 15px 25px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.header-logo{width:180px;line-height:0}.header-menu{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.header-menu-link p{color:#212121;font-family:lato-bold;font-size:14px;letter-spacing:.1em;text-transform:uppercase;z-index:2;cursor:pointer}
.header-menu-link p:hover{color:#e11a27}.header-menu-link.button-gray{min-width:200px;height:50px;font-size:14px}
.header-menu-link+.header-menu-link{margin-left:100px}.header-menu-link.active .header-menu-popup{opacity:1;top:62px;z-index:1}
.header-menu-popup{position:absolute;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;background:white;height:46px;-webkit-border-radius:23px;border-radius:23px;padding-right:36px;opacity:0;top:11px;-webkit-transition:.2s;-o-transition:.2s;transition:.2s}
.header-menu-popup:before{display:block;content:"";position:absolute;background:transparent url("../img/icons/header-key.png") no-repeat center;width:129px;height:53px;top:-29px;left:27px}
.header-menu-popup-link{margin-right:50px;color:#212121}.header-menu-popup-link:hover{color:#e11a27}
.header-menu-popup .close-header-menu-popup{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-right:110px;padding:20px;fill:#e11a27}
.header-menu-popup .close-header-menu-popup svg{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.header-menu-popup .close-header-menu-popup:hover{margin-bottom:8px}.header-right_menu{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.header-right_menu a,.header-right_menu .text{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.header-right_menu a svg,.header-right_menu a img,.header-right_menu .text svg,.header-right_menu .text img{margin-left:10px;fill:#e11a27}
.header-right_menu a:hover p,.header-right_menu .text:hover p{color:#e11a27}.header-right_menu .login-button p,.header-right_menu .ui.dropdown .text{color:#868686}
.header-right_menu .ui.dropdown.language{min-width:62px}.header-right_menu .ui.dropdown .menu{min-width:90px}
.header-right_menu .ui.dropdown .menu>.item{padding:10px 15px 10px 12px;color:#868686;font-size:16px}
.header-right_menu .ui.dropdown .menu>.item:hover{background-color:#e9f3ff}.header-right_menu .ui.dropdown:hover .text{color:#e11a27}
.header-right_menu-item+.header-right_menu-item{margin-left:40px}.header-menu-link p,.header-menu-popup-link,.header-menu-popup .close-header-menu-popup,.header-right_menu .login-button p,.header-right_menu .ui.dropdown .text,a.button,button.button,div.button,.contacts .right-text ul li a{-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
footer{border-top:2px solid #e9f3ff}footer .header-menu{text-align:center}footer .header-menu p{font-size:14px;font-family:lato-bold;letter-spacing:.1em;text-transform:uppercase}
body{font-family:lato-regular,Helvetica,sans-serif;font-size:16px;color:#212121;line-height:1.625em;min-width:320px;overflow-x:hidden}
.container{width:1344px;margin:0 auto;padding:0 15px}@media(max-width:1365px){body{font-size:14px}
.container{width:1024px}}@media(max-width:1023px){.container{width:768px}}@media(max-width:767px){body{font-size:12px}
.container{width:100%;padding:0 10px}}a.button,button.button,div.button{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;background-color:transparent;min-width:250px;max-width:360px;height:56px;min-height:56px;padding:0 20px;-webkit-border-radius:3px;border-radius:3px;text-decoration:none;font-size:20px;font-family:lato-bold;letter-spacing:.1em;color:white;background-color:#e11a27;border:2px solid #e11a27;text-transform:uppercase}
a.button:hover,button.button:hover,div.button:hover{color:#e11a27;background:white}
a.button-gray,button.button-gray,div.button-gray{background:#7e819b;border-color:#7e819b}
a.button-gray:hover,button.button-gray:hover,div.button-gray:hover{color:#7e819b}
a.button-alt,button.button-alt,div.button-alt{color:#e11a27;background-color:white}
a.button-alt:hover,button.button-alt:hover,div.button-alt:hover{color:white;background:#e11a27}
a.button-mini,button.button-mini,div.button-mini{min-width:170px;height:30px;min-height:30px;padding:0 7px;-webkit-border-radius:3px;border-radius:3px;font-size:14px}
.clear{float:none;clear:both}.bold{font-family:lato-bold}.red{color:#e11a27}.line-through{text-decoration:line-through}
h1{font-size:68px;line-height:68px;font-family:lato-bold;margin-bottom:25px}h4{font-size:42px;line-height:42px;font-family:lato-bold;margin-top:20px}
.icon-container{-webkit-background-size:cover;background-size:cover}.icon-container p{font-size:42px;font-family:lato-bold}
.text-with-left-icon{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.text-with-left-icon .left-icon{width:30%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.text-with-left-icon .right-text{width:70%;padding-left:30px}.text-with-left-icon .right-text p{font-size:24px;line-height:34px}
.contacts{padding:85px 0 80px}.contacts .left-icon .icon-container{width:316px;height:306px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;background-image:url("../img/icon-bgs/contacts.png");padding-top:53px}
.contacts .left-icon .icon-container img{height:72px;width:auto;margin-bottom:15px}
.contacts .right-text p.red{font-size:20px;line-height:24px;margin-top:30px}.contacts .right-text a p{font-size:20px}
.contacts .right-text ul{margin-top:30px}.contacts .right-text ul li+li{margin-top:20px}
.contacts .right-text ul li a{font-size:20px;color:#212121;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.contacts .right-text ul li a .icon{width:40px;margin-right:20px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.contacts .right-text ul li a:hover{color:#e11a27}