.main .team-flex .member-photo:before{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.main .slider-block .slider .slick-slide>div,.main .team-flex .member-photo:before,.main .team-flex .member-photo img,.main .team-flex .member-descr .name,.main .team-flex .member-descr ul{-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.main .slider-block{background:url("../img/bgs/3.jpg") no-repeat center;height:1146px;text-align:center}
.main .slider-block h4{margin-bottom:25px}.main .slider-block .slider-subtitle{font-size:24px}
.main .slider-block a.button{font-size:14px;line-height:26px;margin:50px auto 0;height:60px;min-height:60px}
.main .slider-block .icon-container{width:363px;height:144px;background-image:url("../img/icon-bgs/slider.png");padding:40px 0 0 120px;margin:0 auto;text-align:left}
.main .slider-block .icon-container img{height:74px;width:auto}.main .slider-block .slider{margin:40px auto 70px;width:774px;position:static;background:white}
.main .slider-block .slider .slick-track:after{display:block;width:100%;height:5px;background:white}
.main .slider-block .slider .slick-list{overflow:visible}.main .slider-block .slider .slick-slide{margin:0 2px;background:black}
.main .slider-block .slider .slick-slide>div{line-height:0;opacity:.4}.main .slider-block .slider .slick-slide.slick-active>div{opacity:1}
.main .slider-block .slider .slick-slide.slick-active>div .slide-info{display:block}
.main .slider-block .slider .slide{height:456px;-webkit-background-size:cover;background-size:cover;background-position:center}
.main .slider-block .slider .slide-info{background:rgba(225,26,39,0.8);color:white;padding:15px;-webkit-border-radius:3px;border-radius:3px;position:absolute;top:10px;display:none}
.main .slider-block .slider .slide-info p{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;line-height:16px}
.main .slider-block .slider .slide-info p span{width:140px;font-family:lato-bold;text-align:left}
.main .slider-block .slider .slide-info p+p{margin-top:20px}.main .team{background:#e9f3ff url("../img/bgs/2.jpg") no-repeat top center;padding:0 0 80px;text-align:center;padding-top:90px}
.main .team .icon-container{width:303px;height:237px;background-image:url("../img/icon-bgs/team.png");padding:78px 0 0 105px;margin:0 auto;text-align:left}
.main .team .icon-container img{height:75px;width:auto}.main .team-flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-top:50px}
.main .team-flex .member{width:40%}.main .team-flex .member-photo{margin:0 auto;width:100%;height:278px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.main .team-flex .member-photo:before{content:'';display:block;width:100%;height:278px;background:url("../img/team/hover-bg.png") no-repeat center;opacity:0}
.main .team-flex .member-photo img{-webkit-filter:grayscale(100%);filter:grayscale(100%)}
.main .team-flex .member-descr .name{font-family:lato-bold;font-size:18px}.main .team-flex .member-descr ul{text-align:left;overflow:hidden}
.main .team-flex .member-descr ul li{margin-top:20px}.main .team-flex .member+.member{margin-left:60px}
.main .team-flex .member .member-photo:before{opacity:1}.main .team-flex .member .member-photo img{-webkit-filter:grayscale(100%);filter:grayscale(100%)}
.main .team-flex .member .member-descr .name{color:#e11a27}.main .team-flex .member .member-descr ul{opacity:1}
.main .uber_uns{padding:150px 0 120px}.main .uber_uns .icon-container{width:266px;height:264px;background-image:url("../img/icon-bgs/uber_uns.png");padding:45px 0 0 35px;margin:0 auto;text-align:center}
.main .uber_uns .icon-container img{height:75px;width:auto}.main .cover{background:#e9f3ff url("../img/bgs/1.jpg") no-repeat bottom center;height:980px;text-align:center;padding-top:155px}
.main .cover-subtitle{font-size:42px;line-height:42px;margin-bottom:50px}.main .cover-flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;background:url("../img/icon-bgs/cover.png") no-repeat top center}
.main .cover-flex .item+.item{margin-left:50px}.main .cover-flex .item.vermietung .icon-container img{height:98px}
.main .cover-flex .item.verwaltung .icon-container img{height:103px}.main .cover-flex .item.verkauf .icon-container img{height:86px}
.main .cover-flex .item .icon-container{height:245px;margin-bottom:45px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.main .cover-flex .item .icon-container img{max-height:100%}