.inner .cover-item .img-wrapper:before{position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.inner .form-container .flex .form-flex>div label .ui.dropdown .icon:before,.inner .form-container .flex .form-flex>div label .checkbox-wrapper input:checked+.checkbox:before{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.inner .cover{background:#e9f3ff;padding:45px 0 200px}.inner .cover .title-wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.inner .cover .title-wrapper h1{font-size:60px;line-height:72px;color:#e11a27;margin-bottom:0}
.inner .cover .title-wrapper .icon-container{margin-right:35px;width:303px;height:237px;background-image:url("../img/icon-bgs/team.png")}
.inner .cover .title-wrapper.sales .icon-container{padding:75px 0 0 100px}.inner .cover .title-wrapper.sales .icon-container img{height:86px}
.inner .cover .title-wrapper.facility .icon-container{padding:72px 0 0 82px}.inner .cover .title-wrapper.facility .icon-container img{height:88px}
.inner .cover .title-wrapper.rent .icon-container{padding:80px 0 0 115px}.inner .cover .title-wrapper.rent .icon-container img{height:82px}
.inner .cover-item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.inner .cover-item .img-wrapper:before{content:'';display:block;background-repeat:no-repeat;background-position:center}
.inner .cover-item.rent-cover-item-1{margin-top:80px}.inner .cover-item.rent-cover-item-1 .img-wrapper:before{background-image:url("../img/inner-images/macbook-and-iphone-bg.png");width:977px;height:806px;right:390px}
.inner .cover-item.rent-cover-item-2{margin-top:180px}.inner .cover-item.rent-cover-item-2 .img-wrapper:before{background-image:url("../img/inner-images/facility-bg-2.png");width:1072px;height:849px;left:230px;margin-top:-10px}
.inner .cover-item.rent-cover-item-3{margin-top:180px}.inner .cover-item.rent-cover-item-3 .img-wrapper:before{background-image:url("../img/inner-images/facility-bg-3.png");width:1392px;height:1019px;right:60px;margin-top:75px}
.inner .cover-item.rent-cover-item-4{margin-top:180px}.inner .cover-item.rent-cover-item-4 .img-wrapper:before{background-image:url("../img/inner-images/imac-bg.png");width:1461px;height:1165px;left:20px;margin-top:95px}
.inner .cover-item.rent-cover-item-5{margin-top:180px}.inner .cover-item.rent-cover-item-5 .img-wrapper:before{background-image:url("../img/inner-images/rent-bg-5.png");width:927px;height:765px;right:200px}
.inner .cover-item.rent-cover-item-6{margin-top:180px}.inner .cover-item.rent-cover-item-6 .img-wrapper:before{background-image:url("../img/inner-images/rent-bg-6.png");width:947px;height:764px;left:260px;margin-top:-10px}
.inner .cover-item.sales-cover-item-1{margin-top:80px}.inner .cover-item.sales-cover-item-1 .img-wrapper:before{background-image:url("../img/inner-images/macbook-and-iphone-bg.png");width:977px;height:806px;right:260px}
.inner .cover-item.sales-cover-item-2{margin-top:180px}.inner .cover-item.sales-cover-item-2 .img-wrapper:before{background-image:url("../img/inner-images/imac-bg.png");width:1461px;height:1165px;left:20px;margin-top:95px}
.inner .cover-item.facility-cover-item-1{margin-top:80px}.inner .cover-item.facility-cover-item-1 .img-wrapper:before{background-image:url("../img/inner-images/macbook-and-iphone-bg.png");width:977px;height:806px;right:350px}
.inner .cover-item.facility-cover-item-2{margin-top:180px}.inner .cover-item.facility-cover-item-2 .img-wrapper:before{background-image:url("../img/inner-images/facility-bg-2.png");width:1072px;height:849px;left:260px;margin-top:-25px}
.inner .cover-item.facility-cover-item-3{margin-top:180px}.inner .cover-item.facility-cover-item-3 .img-wrapper:before{background-image:url("../img/inner-images/facility-bg-3.png");width:1392px;height:1019px;right:60px;margin-top:75px}
.inner .cover-item .img-wrapper{width:-webkit-calc(40% - 15px);width:calc(40% - 15px);display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}
.inner .cover-item .img-wrapper img{max-width:initial}.inner .cover-item .img-wrapper+.text-wrapper{padding-right:0;padding-left:50px}
.inner .cover-item .text-wrapper{width:-webkit-calc(60% + 15px);width:calc(60% + 15px);padding-right:50px}
.inner .cover-item .text-wrapper+.img-wrapper{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start}
.inner .cover-item .text-wrapper-title{font-family:lato-bold;font-size:42px;line-height:48px;margin-bottom:40px}
.inner .cover-item .text-wrapper ul li{font-size:24px;line-height:30px}.inner .cover-item .text-wrapper ul li+li{margin-top:25px}
.inner .cover-item .text-wrapper ul li svg{fill:#e11a27;margin-right:5px}.inner .cover-item .text-wrapper p.red{margin-top:25px;line-height:26px}
.inner .cover-item.width-50-percent .img-wrapper{width:-webkit-calc(50% - 15px);width:calc(50% - 15px)}
.inner .cover-item.width-50-percent .text-wrapper{width:-webkit-calc(50% + 15px);width:calc(50% + 15px);padding:0}
.inner .preise{text-align:center;padding:0 0 175px;background:#e9f3ff url("../img/bgs/inner-preise.jpg") no-repeat bottom center}
.inner .preise .under-preise-flex{margin:50px auto 0;text-align:left}.inner .preise .under-preise-flex_title{font-family:lato-bold;font-size:36px;margin-bottom:24px}
.inner .preise .under-preise-flex p span{font-size:20px}.inner .preise .under-preise-flex p span+span{margin-left:20px}
.inner .preise .under-preise-flex p span svg{fill:#e11a27}.inner .preise .subtitle{margin-top:30px;font-size:24px}
.inner .preise .icon-container{width:323px;height:243px;background-image:url("../img/icon-bgs/preise.png");padding:50px 0 0 80px;margin:0 auto;text-align:center}
.inner .preise ul{height:100%}.inner .preise-flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-top:40px}
.inner .preise-flex .item{background:#fff;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 15px 0 rgba(27,27,27,0.2);box-shadow:0 5px 15px 0 rgba(27,27,27,0.2);width:-webkit-calc((100% - (30px * 2)) / 3);width:calc((100% - (30px * 2)) / 3);min-height:645px;padding:20px 30px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.inner .preise-flex .item img{height:130px}.inner .preise-flex .item+.item{margin-left:30px}
.inner .preise-flex .item ul{text-align:left;width:100%;margin-top:15px}.inner .preise-flex .item ul li{line-height:20px;font-size:14px}
.inner .preise-flex .item ul li+li{margin-top:8px}.inner .preise-flex .item .price{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-bottom:15px}
.inner .preise-flex .item .price p.red{font-size:60px;line-height:40px;margin-right:10px;font-family:lato-bold}
.inner .preise-flex .item .price-descr{font-size:22px;line-height:18px;text-align:left}
.inner .preise-flex .item .price-descr .red{font-size:16px}.inner .preise-flex .item a.button{font-size:16px;height:50px;min-height:50px}
.inner .preise-flex .item .item-title{font-family:lato-bold;font-size:24px;line-height:24px;height:48px;min-height:48px;margin-top:15px}
.inner .preise-flex .item .item-title .info{color:#e11a27;text-decoration:underline;cursor:help}
.inner .preise-flex .item .item-title .info:hover{text-decoration:none}.inner .preise-flex .item .item-title+.item{margin-left:30px}
.inner .form-container{margin:60px auto 90px}.inner .form-container .flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}
.inner .form-container .flex .form-icon{min-width:313px}.inner .form-container .flex .form{padding-left:30px;padding-top:60px}
.inner .form-container .flex .form-title{font-family:lato-bold;font-size:42px;line-height:48px}
.inner .form-container .flex .form-subtitle{font-size:24px;line-height:30px;margin-top:20px;margin-bottom:40px}
.inner .form-container .flex .form-flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}
.inner .form-container .flex .form-flex>div{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end}
.inner .form-container .flex .form-flex>div+div{margin-left:45px}.inner .form-container .flex .form-flex>div label{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;font-size:14px}
.inner .form-container .flex .form-flex>div label .ui.dropdown{line-height:0}.inner .form-container .flex .form-flex>div label .ui.dropdown .text{line-height:30px}
.inner .form-container .flex .form-flex>div label .ui.dropdown .menu{top:100%;width:100%;-webkit-border-radius:0 0 8px 8px;border-radius:0 0 8px 8px}
.inner .form-container .flex .form-flex>div label .ui.dropdown .menu>.item:hover{cursor:pointer;background-color:rgba(0,0,0,0.1)}
.inner .form-container .flex .form-flex>div label .ui.dropdown .icon{width:30px;height:30px;background-color:#e11a27;color:white;right:0;top:0;-webkit-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;margin-left:0;position:absolute}
.inner .form-container .flex .form-flex>div label .ui.dropdown .icon:before{font-size:16px}
.inner .form-container .flex .form-flex>div label .checkbox-wrapper{letter-spacing:.01em;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.inner .form-container .flex .form-flex>div label .checkbox-wrapper+.checkbox-wrapper{margin-top:12px}
.inner .form-container .flex .form-flex>div label .checkbox-wrapper .checkbox{border:1px solid #c9d9ec;background:white;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-border-radius:3px;border-radius:3px;min-width:14px;min-height:14px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-right:8px}
.inner .form-container .flex .form-flex>div label .checkbox-wrapper .checkbox-text{max-width:-webkit-calc(100% - 14px - 8px);max-width:calc(100% - 14px - 8px);font-size:12px;line-height:16px}
.inner .form-container .flex .form-flex>div label .checkbox-wrapper input{display:none}
.inner .form-container .flex .form-flex>div label .checkbox-wrapper input:checked+.checkbox{border-color:#e11a27;background:#e11a27}
.inner .form-container .flex .form-flex>div label .checkbox-wrapper input:checked+.checkbox:before{content:"";background:url("../img/icons/tick.svg") no-repeat center;-webkit-background-size:contain;background-size:contain;width:10px;height:8px;margin-top:-1px;display:block}
.inner .form-container .flex .form-flex>div label .checkbox-wrapper a{color:#e11a27;text-decoration:underline}
.inner .form-container .flex .form-flex>div label .checkbox-wrapper a:hover{text-decoration:none}
.inner .form-container .flex .form-flex>div label+label{margin-top:20px}.inner .form-container .flex .form-flex>div label+label.margin-top-6{margin-top:6px}
.inner .form-container .flex .form-flex>div label>span{width:90px;min-width:90px;display:inline-block;margin-right:15px;line-height:30px}
.inner .form-container .flex .form-flex>div label>span.line-height-min{line-height:15px}
.inner .form-container .flex .form-flex>div label textarea{resize:none;outline:0;height:54px}
.inner .form-container .flex .form-flex>div label input,.inner .form-container .flex .form-flex>div label .text{height:30px;width:100%}
.inner .form-container .flex .form-flex>div label input,.inner .form-container .flex .form-flex>div label textarea{padding-top:8px;padding-bottom:8px}
.inner .form-container .flex .form-flex>div label input,.inner .form-container .flex .form-flex>div label textarea,.inner .form-container .flex .form-flex>div label .text{border:1px solid #c9d9ec;-webkit-border-radius:4px;border-radius:4px;font-size:14px;padding-left:12px;padding-right:12px}
.inner .form-container .flex .form-flex>div label input,.inner .form-container .flex .form-flex>div label textarea,.inner .form-container .flex .form-flex>div label .button,.inner .form-container .flex .form-flex>div label p,.inner .form-container .flex .form-flex>div label .checkbox-wrapper,.inner .form-container .flex .form-flex>div label .dropdown{width:300px}
.inner .contacts{background:#e9f3ff url("../img/bgs/inner-contacts.jpg") no-repeat top center;padding:200px 0 85px}
.inner .contacts .left-icon .icon-container{background-image:url("../img/icon-bgs/contacts-alt.png")}