@font-face
	font-family: lato-bold
	src: url("../fonts/lato/lato-bold.woff") format("woff"), url("../fonts/lato/lato-bold.woff2") format("woff2")
	font-style: normal
	font-weight: normal

@font-face
	font-family: lato-regular
	src: url("../fonts/lato/lato-regular.woff") format("woff"), url("../fonts/lato/lato-regular.woff2") format("woff2")
	font-style: normal
	font-weight: normal