@import "variables"

footer
	border-top: 2px solid $blue-bg
	.header-menu
		text-align: center
		p
			font-size: 14px
			font-family: lato-bold
			letter-spacing: .1em
			text-transform: uppercase

// @media (max-width: 1365px)