@import "variables"

.header
	padding: 15px 35px 15px 25px
	display: flex
	align-items: center
	justify-content: space-between
	&-logo
		width: 180px
		line-height: 0
	&-menu
		display: flex
		align-items: center
		&-link
			p
				color: $black
				font-family: lato-bold
				font-size: 14px
				letter-spacing: .1em
				text-transform: uppercase
				z-index: 2
				cursor: pointer
				@extend %transition
				&:hover
					color: $red
			&.button-gray
				min-width: 200px
				height: 50px
				font-size: 14px
			& + .header-menu-link
				margin-left: 100px
			&.active
				.header-menu-popup
					opacity: 1
					top: 62px
					z-index: 1
		&-popup
			position: absolute
			display: flex
			align-items: center
			background: white
			height: 46px
			border-radius: 23px
			padding-right: 36px
			opacity: 0
			top: 11px
			transition: .2s
			&:before
				display: block
				content: ""
				position: absolute
				background: transparent url("../img/icons/header-key.png") no-repeat center
				width: 129px
				height: 53px
				top: -29px
				left: 27px
			&-link
				margin-right: 50px
				color: $black
				@extend %transition
				&:hover
					color: $red
			.close-header-menu-popup
				display: flex
				align-items: center
				justify-content: center
				margin-right: 110px
				padding: 20px
				fill: $red
				@extend %transition
				svg
					transform: rotate(180deg)
				&:hover
					margin-bottom: 8px
	&-right_menu
		display: flex
		align-items: center
		a, .text
			display: flex
			align-items: center
			justify-content: space-between
			svg, img
				margin-left: 10px
				fill: $red
			&:hover
				p
					color: $red
		.login-button p, .ui.dropdown .text
			color: $gray-text
			@extend %transition
		.ui.dropdown
			&.language
				min-width: 62px
			.menu
				min-width: 90px
				& > .item
					padding: 10px 15px 10px 12px
					color: $gray-text
					font-size: 16px
					&:hover
						background-color: $blue-bg
			&:hover
				.text
					color: $red
		&-item
			& + .header-right_menu-item
				margin-left: 40px
			

// @media (max-width: 1365px)