$red: #e11a27
$black: #212121
$blue-bg: #e9f3ff
$gray-bg: #7e819b
$gray-border: #c9d9ec
$gray-text: #868686
$purple: #481e7c


%middle
	position: absolute
	top: 50%
	transform: translateY(-50%)
%center
	position: absolute
	left: 50%
	transform: translateX(-50%)
%middle-center
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%,-50%)
%transition
	transition: .3s