@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-loader-path: "../img/icons/" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent url("../img/slider/pagination-bg.png") no-repeat center;
    background-size: cover;
    height: 30px;
    width: 75px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    color: transparent;
    padding: 0;
    border: none;
    outline: none;
    bottom: -13px;
    z-index: 1;
    &:hover, &:focus {
        &:before {
            background-color: #e11a27;
        }
    }
    &.slick-disabled:before {
        opacity: .25;
    }
    &:before {
        content: '';
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #96d5da;
        background-position: center;
        background-repeat: no-repeat;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        transition: .3s;
    }
}

.slick-prev {
    left: 0;
    [dir="rtl"] & {
        left: auto;
        right: 0;
    }
    &:before {
        background-image: url("../img/icons/arrow-prev.svg");
        background-position: 8px center;
        [dir="rtl"] & {
            background-image: url("../img/icons/arrow-next.svg");
            background-position: 10px center;
        }
    }
}

.slick-next {
    right: 0;
    [dir="rtl"] & {
        left: 0;
        right: auto;
    }
    &:before {
        background-image: url("../img/icons/arrow-next.svg");
        background-position: 10px center;
        [dir="rtl"] & {
            background-image: url("../img/icons/arrow-prev.svg");
            background-position: 8px center;
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -23px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 960px;
    margin: 0 auto;
    left: 0;
    right: 0;
    li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent url("../img/slider/pagination-bg.png") no-repeat center;
        background-size: cover;
        height: 30px;
        width: 76px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: #481e7c;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            outline: none;
            font-family: lato-bold;
            font-size: 16px;
            color: white;
            transition: .3s;
            
        }
        &:hover, &:focus {
            button{
                background: #e11a27;
            }
        }
        &.slick-active {
            height: 50px;
            width: 125px;
            cursor: default;
            button {
                background: #e11a27;
                height: 40px;
                width: 40px;
                cursor: default;
            }
        }
    }
}
