@import "common-components/variables"
@import "common-components/normalize"
@import "common-components/fonts"
@import "common-components/header"
@import "common-components/footer"

body
  font-family: lato-regular, Helvetica, sans-serif
  font-size: 16px
  color: $black
  line-height: 1.625em
  min-width: 320px
  overflow-x: hidden

.container
	width: 1344px
	margin: 0 auto
	padding: 0 15px

@media (max-width: 1365px)
	body
	  font-size: 14px
	.container
		width: 1024px

@media (max-width: 1023px)
	.container
		width: 768px

@media (max-width: 767px)
	body
	  font-size: 12px
	.container
		width: 100%
		padding: 0 10px

a, button, div
	&.button
		display: flex
		align-items: center
		justify-content: center
		background-color: transparent
		min-width: 250px
		max-width: 360px
		height: 56px
		min-height: 56px
		padding: 0 20px
		border-radius: 3px
		text-decoration: none
		font-size: 20px
		font-family: lato-bold
		letter-spacing: .1em
		color: white
		background-color: $red
		border: 2px solid $red
		text-transform: uppercase
		@extend %transition
		&:hover
			color: $red
			background: white
		&-gray
			background: $gray-bg
			border-color: $gray-bg
			&:hover
				color: $gray-bg
		&-alt
			color: $red
			background-color: white
			&:hover
				color: white
				background: $red
		&-mini
			min-width: 170px
			height: 30px
			min-height: 30px
			padding: 0 7px
			border-radius: 3px
			font-size: 14px

.clear
	float: none
	clear: both

.bold
	font-family: lato-bold

.red
	color: $red

.line-through
	text-decoration: line-through

h1
	font-size: 68px
	line-height: 68px
	font-family: lato-bold
	margin-bottom: 25px

h4
	font-size: 42px
	line-height: 42px
	font-family: lato-bold
	margin-top: 20px

.icon-container
	background-size: cover
	p
		font-size: 42px
		font-family: lato-bold

.text-with-left-icon
	display: flex
	align-items: center
	.left-icon
		width: 30%
		display: flex
		align-items: center
	.right-text
		width: 70%
		padding-left: 30px
		p
			font-size: 24px
			line-height: 34px

.contacts
	padding: 85px 0 80px
	.left-icon
		.icon-container
			width: 316px
			height: 306px
			display: flex
			flex-direction: column
			align-items: center
			background-image: url("../img/icon-bgs/contacts.png")
			padding-top: 53px
			img
				height: 72px
				width: auto
				margin-bottom: 15px
	.right-text
		p
			&.red
				font-size: 20px
				line-height: 24px
				margin-top: 30px
		a
			p
				font-size: 20px
		ul
			margin-top: 30px
			li
				& + li
					margin-top: 20px
				a
					font-size: 20px
					color: $black
					display: flex
					align-items: center
					@extend %transition
					.icon
						width: 40px
						margin-right: 20px
						display: flex
						align-items: center
					&:hover
						color: $red