@import "common-components/variables"

.main
	.slider-block
		background: url("../img/bgs/3.jpg") no-repeat center
		height: 1146px
		text-align: center
		h4
			margin-bottom: 25px
		.slider-subtitle
			font-size: 24px
		a.button
			font-size: 14px
			line-height: 26px
			margin: 50px auto 0
			height: 60px
			min-height: 60px
		.icon-container
			width: 363px
			height: 144px
			background-image: url("../img/icon-bgs/slider.png")
			padding: 40px 0 0 120px
			margin: 0 auto
			text-align: left
			img
				height: 74px
				width: auto
		.slider
			margin: 40px auto 70px
			width: 774px
			position: static
			background: white
			.slick-track:after
		    display: block
		    width: 100%
		    height: 5px
		    background: white
			.slick-list
				overflow: visible
			.slick-slide
				margin: 0 2px
				background: black
				& > div
					line-height: 0
					opacity: .4
					@extend %transition
				&.slick-active
					& > div
						opacity: 1
						.slide-info
							display: block
			.slide
				height: 456px
				background-size: cover
				background-position: center
				&-info
					background: rgba(225, 26, 39, .8)
					color: white
					padding: 15px
					border-radius: 3px
					position: absolute
					top: 10px
					display: none
					p
						display: flex
						align-items: center
						line-height: 16px
						span
							width: 140px
							font-family: lato-bold
							text-align: left
						& + p
							margin-top: 20px
	.team
		background: $blue-bg url("../img/bgs/2.jpg") no-repeat top center
		padding: 0 0 80px
		text-align: center
		padding-top: 90px
		.icon-container
			width: 303px
			height: 237px
			background-image: url("../img/icon-bgs/team.png")
			padding: 78px 0 0 105px
			margin: 0 auto
			text-align: left
			img
				height: 75px
				width: auto
		&-flex
			display: flex
			align-items: flex-start
			justify-content: center
			margin-top: 50px
			.member
				width: 40%
				&-photo
					margin: 0 auto
					width: 100%
					height: 278px
					display: flex
					align-items: flex-start
					justify-content: center
					&:before
						content: ''
						display: block
						width: 100%
						height: 278px
						background: url("../img/team/hover-bg.png") no-repeat center
						opacity: 0
						@extend %middle-center
						@extend %transition
					img
						filter: grayscale(100%)
						@extend %transition
				&-descr
					.name
						font-family: lato-bold
						font-size: 18px
						@extend %transition
					ul
						// opacity: 0
						text-align: left
						overflow: hidden
						@extend %transition
						li
							margin-top: 20px
				& + .member
					margin-left: 60px
				.member
					&-photo
						&:before
							opacity: 1
						img
							filter: grayscale(100%)
					&-descr
						.name
							color: $red
						ul
							opacity: 1
				// &:hover
				// 	.member
				// 		&-photo
				// 			&:before
				// 				opacity: 1
				// 			img
				// 				filter: grayscale(0)
				// 		&-descr
				// 			.name
				// 				color: $red
				// 			ul
				// 				opacity: 1
	.uber_uns
		padding: 150px 0 120px
		.icon-container
			width: 266px
			height: 264px
			background-image: url("../img/icon-bgs/uber_uns.png")
			padding: 45px 0 0 35px
			margin: 0 auto
			text-align: center
			img
				height: 75px
				width: auto
	.cover
		background: $blue-bg url("../img/bgs/1.jpg") no-repeat bottom center
		height: 980px
		text-align: center
		padding-top: 155px
		&-subtitle
			font-size: 42px
			line-height: 42px
			margin-bottom: 50px
		&-flex
			display: flex
			align-items: center
			justify-content: center
			background: url("../img/icon-bgs/cover.png") no-repeat top center
			.item
				& + .item
					margin-left: 50px
				&.vermietung
					.icon-container
						img
							height: 98px
				&.verwaltung
					.icon-container
						img
							height: 103px
				&.verkauf
					.icon-container
						img
							height: 86px
				.icon-container
					height: 245px
					margin-bottom: 45px
					display: flex
					align-items: center
					justify-content: center
					img
						max-height: 100%