@import "common-components/variables"

.inner
	.cover
		background: $blue-bg
		padding: 45px 0 200px
		.title-wrapper
			display: flex
			align-items: flex-end
			justify-content: center
			h1
				font-size: 60px
				line-height: 72px
				color: $red
				margin-bottom: 0
			.icon-container
				margin-right: 35px
				width: 303px
				height: 237px
				background-image: url("../img/icon-bgs/team.png")
			&.sales
				.icon-container
					padding: 75px 0 0 100px
					img
						height: 86px
			&.facility
				.icon-container
					padding: 72px 0 0 82px
					img
						height: 88px
			&.rent
				.icon-container
					padding: 80px 0 0 115px
					img
						height: 82px
		&-item
			display: flex
			align-items: center
			.img-wrapper
				&:before
					content: ''
					display: block
					background-repeat: no-repeat
					background-position: center
					@extend %middle
			&.rent-cover-item-1
				margin-top: 80px
				.img-wrapper
					&:before
						background-image: url('../img/inner-images/macbook-and-iphone-bg.png')
						width: 977px
						height: 806px
						right: 390px
			&.rent-cover-item-2
				// margin-top: 320px
				margin-top: 180px
				.img-wrapper
					&:before
						background-image: url('../img/inner-images/facility-bg-2.png')
						width: 1072px
						height: 849px
						left: 230px
						margin-top: -10px
			&.rent-cover-item-3
				// margin-top: 240px
				margin-top: 180px
				.img-wrapper
					&:before
						background-image: url('../img/inner-images/facility-bg-3.png')
						width: 1392px
						height: 1019px
						right: 60px
						margin-top: 75px
			&.rent-cover-item-4
				// margin-top: 130px
				margin-top: 180px
				.img-wrapper
					&:before
						background-image: url('../img/inner-images/imac-bg.png')
						width: 1461px
						height: 1165px
						left: 20px
						margin-top: 95px
			&.rent-cover-item-5
				// margin-top: 180px
				margin-top: 180px
				.img-wrapper
					&:before
						background-image: url('../img/inner-images/rent-bg-5.png')
						width: 927px
						height: 765px
						right: 200px
			&.rent-cover-item-6
				// margin-top: 300px
				margin-top: 180px
				.img-wrapper
					&:before
						background-image: url('../img/inner-images/rent-bg-6.png')
						width: 947px
						height: 764px
						left: 260px
						margin-top: -10px
			&.sales-cover-item-1
				margin-top: 80px
				.img-wrapper
					&:before
						background-image: url('../img/inner-images/macbook-and-iphone-bg.png')
						width: 977px
						height: 806px
						right: 260px
			&.sales-cover-item-2
				// margin-top: 150px
				margin-top: 180px
				.img-wrapper
					&:before
						background-image: url('../img/inner-images/imac-bg.png')
						width: 1461px
						height: 1165px
						left: 20px
						margin-top: 95px
			&.facility-cover-item-1
				margin-top: 80px
				.img-wrapper
					&:before
						background-image: url('../img/inner-images/macbook-and-iphone-bg.png')
						width: 977px
						height: 806px
						right: 350px
			&.facility-cover-item-2
				// margin-top: 240px
				margin-top: 180px
				.img-wrapper
					&:before
						background-image: url('../img/inner-images/facility-bg-2.png')
						width: 1072px
						height: 849px
						left: 260px
						margin-top: -25px
			&.facility-cover-item-3
				// margin-top: 190px
				margin-top: 180px
				.img-wrapper
					&:before
						background-image: url('../img/inner-images/facility-bg-3.png')
						width: 1392px
						height: 1019px
						right: 60px
						margin-top: 75px
			.img-wrapper
				width: calc(40% - 15px)
				display: flex
				justify-content: flex-end
				img
					max-width: initial
				& + .text-wrapper
					padding-right: 0
					padding-left: 50px
			.text-wrapper
				width: calc(60% + 15px)
				padding-right: 50px
				& + .img-wrapper
					justify-content: flex-start
				&-title
					font-family: lato-bold
					font-size: 42px
					line-height: 48px
					margin-bottom: 40px
				ul
					li
						font-size: 24px
						line-height: 30px
						& + li
							margin-top: 25px
						svg
							fill: $red
							margin-right: 5px
				p.red
					margin-top: 25px
					line-height: 26px
			&.width-50-percent
				.img-wrapper
					width: calc(50% - 15px)
				.text-wrapper
					width: calc(50% + 15px)
					padding: 0
	.preise
		text-align: center
		padding: 0 0 175px
		background: #e9f3ff url("../img/bgs/inner-preise.jpg") no-repeat bottom center
		.under-preise-flex
			margin: 50px auto 0
			text-align: left
			&_title
				font-family: lato-bold
				font-size: 36px
				margin-bottom: 24px
			p
				span
					font-size: 20px
					& + span
						margin-left: 20px
					svg
						fill: $red
		.subtitle
			margin-top: 30px
			font-size: 24px
		.icon-container
			width: 323px
			height: 243px
			background-image: url("../img/icon-bgs/preise.png")
			padding: 50px 0 0 80px
			margin: 0 auto
			text-align: center
		ul
			height: 100%
		&-flex
			display: flex
			align-items: stretch
			justify-content: center
			margin-top: 40px
			.item
				background: #fff
				border-radius: 5px
				box-shadow: 0px 5px 15px 0px rgba(27, 27, 27, 0.2)
				width: calc((100% - (30px * 2)) / 3)
				// min-height: 760px
				min-height: 645px
				padding: 20px 30px
				display: flex
				flex-direction: column
				align-items: center
				img
					height: 130px
				& + .item
					margin-left: 30px
				ul
					text-align: left
					width: 100%
					margin-top: 15px
					li
						line-height: 20px
						font-size: 14px
						& + li
							margin-top: 8px
				.price
					display: flex
					align-items: flex-end
					justify-content: center
					margin-bottom: 15px
					p.red
						font-size: 60px
						line-height: 40px
						margin-right: 10px
						font-family: lato-bold
					&-descr
						font-size: 22px
						line-height: 18px
						text-align: left
						.red
							font-size: 16px
							
				a.button
					font-size: 16px
					height: 50px
					min-height: 50px
				.item-title
					font-family: lato-bold
					font-size: 24px
					line-height: 24px
					height: 48px
					min-height: 48px
					margin-top: 15px
					.info
						color: $red
						text-decoration: underline
						cursor: help
						&:hover
							text-decoration: none
					& + .item
						margin-left: 30px
	.form-container
		margin: 60px auto 90px
		.flex
			display: flex
			align-items: flex-start
			.form-icon
				min-width: 313px
			.form
				padding-left: 30px
				padding-top: 60px
				&-title
					font-family: lato-bold
					font-size: 42px
					line-height: 48px
				&-subtitle
					font-size: 24px
					line-height: 30px
					margin-top: 20px
					margin-bottom: 40px
				&-flex
					display: flex
					align-items: flex-start
					& > div
						display: flex
						flex-direction: column
						align-items: flex-end
						& + div
							margin-left: 45px
						label
							display: flex
							align-items: flex-start
							font-size: 14px
							.ui.dropdown
								line-height: 0
								.text
									line-height: 30px
								.menu
									top: 100%
									width: 100%
									border-radius: 0 0 8px 8px
									& > .item:hover
										cursor: pointer
										background-color: rgba(0, 0, 0, .1)
								.icon
									width: 30px
									height: 30px
									background-color: $red
									color: white
									right: 0
									top: 0
									border-radius: 0 4px 4px 0
									margin-left: 0
									position: absolute
									&:before
										font-size: 16px
										@extend %middle-center
							.checkbox-wrapper
									letter-spacing: .01em
									display: flex
									align-items: flex-start
									flex-wrap: wrap
									& + .checkbox-wrapper
										margin-top: 12px
									.checkbox
										border: 1px solid $gray-border
										background: white
										transition: .3s
										border-radius: 3px
										min-width: 14px
										min-height: 14px
										display: flex
										align-items: center
										justify-content: center
										margin-right: 8px
										&-text
											max-width: calc(100% - 14px - 8px)
											font-size: 12px
											line-height: 16px
									input
										display: none
										&:checked
											& + .checkbox
												border-color: $red
												background: $red
												&:before
													content: ""
													background: url('../img/icons/tick.svg') no-repeat center
													background-size: contain
													width: 10px
													height: 8px
													margin-top: -1px
													display: block
													@extend %middle-center
									a
										color: $red
										text-decoration: underline
										&:hover
											text-decoration: none
							& + label
								margin-top: 20px
								&.margin-top-6
									margin-top: 6px
							& > span
								width: 90px
								min-width: 90px
								display: inline-block
								margin-right: 15px
								line-height: 30px
								&.line-height-min
									line-height: 15px
							textarea
								resize: none
								outline: none
								height: 54px
							input, .text
								height: 30px
								width: 100%
							input, textarea
								padding-top: 8px
								padding-bottom: 8px
							input, textarea, .text
								border: 1px solid $gray-border
								border-radius: 4px
								font-size: 14px
								padding-left: 12px
								padding-right: 12px
							input, textarea, .button, p, .checkbox-wrapper, .dropdown
								width: 300px
	.contacts
		background: $blue-bg url("../img/bgs/inner-contacts.jpg") no-repeat top center
		padding: 200px 0 85px
		.left-icon
			.icon-container
    		background-image: url("../img/icon-bgs/contacts-alt.png")